<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

{% block title %} Krishna Blog User Page {% endblock title %}
{% block content %}
<div class="container ">
    <div class="row mb-5">
        <div class="col mb-5">
            <div class="welcome" style="color:#fff;">
                <h3 style=" font-family: 'Trade Winds', cursive;border-bottom:5px double green;padding-bottom:5px;color:#fff;">
                    welcome 2 Krishna Blog :</h3>
                <div style="padding:0 2% 0 2%;">
                    <p>Money isn't money
                        anymore. <br>
                        Time doesn't feel like time anymore.<br>
                        Your sense of community, it's
                        evaporated, too, or it's turned into something you visit at 2 A.M. on a website.</p>
                    <br>
                    <p> You can get inspired from a magazine. yes, but you can also be inspired from a website. Connect
                        with us and be in
                        touch with our website. You can find many posts which wil help you in many ways.
                    </p>
                </div>
            </div>
            <br>

        </div>
        <br><br>
    </div>
</div>


{% endblock %}